<div class="frame">
   <div class="frame1">
      <div class="card">
         <div class="card-title">
            <h6>Courses</h6>
         </div>
         <div class="card-body">
            <ul *ngIf="courses" class="list-group list-group-flush course-list">
               <li *ngFor="let item of courses"
                  class="g-li list-group-item list-group-item-action menu-relative dimmer-hover"
                  [ngClass]="{'g-active': selectedCourse && item.id === selectedCourse.id}"
                  (click)="selectCourse(item)">
                  <span>
                     <!-- <button type="button" class="btn btn-primary">Split me</button> -->
                     <a>{{item.name}}</a>
                     <span class="dimmer-icon menu-absolute" (click)="deleteCourse(item)">
                        <i class="fas fa-trash"></i>
                     </span>
                     <!-- <div class="btn-group menu-absolute" ngbDropdown role="group"
                        aria-label="Button group with nested dropdown">
                        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
                           <i class="fas fas-caret-down"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                           <button ngbDropdownItem (click)="deleteCourse(item)">
                              <i class="fas fa-trash"></i>
                           </button>
                        </div>
                     </div> -->
                  </span>
               </li>
            </ul>
            <ul class="list-group">
               <button class="btn btn-light mb-2" (click)="expandCreate = !expandCreate">
                  <span *ngIf="!expandCreate"><i class="fas fa-plus mr-2"></i><a>New course</a></span>
                  <span *ngIf="expandCreate"><i class="fas fa-minus mr-2"></i><a>Cancel</a></span>
               </button>
               <ng-container *ngIf="expandCreate">
                  <div class="input-group d-flex justify-content-end">
                     <input class="form-control mb-2" type="text" [(ngModel)]="course_name"
                        placeholder="Type course name">
                     <div ngbDropdown class="d-inline-block mb-2">
                        <button class="btn custom-btn" ngbDropdownToggle>
                           {{selectedLang ? selectedLang.name : 'Select language'}}
                        </button>
                        <div ngbDropdownMenu>
                           <button ngbDropdownItem *ngFor="let item of languages"
                              (click)="selectedLang = item">{{item.name}}</button>
                           <!-- add new language -->
                           <button ngbDropdownItem class="g-grey-text" (click)="openCreateLanguageModal()">Add
                              language</button>
                        </div>
                     </div>
                     <div ngbDropdown class="d-inline-block mb-2">
                        <button class="btn custom-btn" ngbDropdownToggle>
                           {{selectedLevel ? selectedLevel.name : 'Select level'}}
                        </button>
                        <div ngbDropdownMenu>
                           <button ngbDropdownItem *ngFor="let item of levels"
                              (click)="selectedLevel = item">{{item.name}}</button>
                        </div>
                     </div>
                  </div>
                  <button class="btn submit-btn" [disabled]="!(course_name && selectedLevel && selectedLang)"
                     type="button"
                     (click)="createCourse(course_name, selectedLevel.id, selectedLang.id)">Create</button>
               </ng-container>
            </ul>
         </div>
      </div>
   </div>
   <div class="frame2">
      <div class="card">
         <div class="card-title">
            <h6>Lessons</h6>
         </div>
         <div *ngIf="lessons && flashcards" class="card-body">
            <div class="scroll-list">
               <span *ngFor="let lesson of lessons">
                  <app-cards-list *ngIf="lesson && flashcards[lesson.id]" [lesson]="lesson" [flashcards]="flashcards[lesson.id]">
                  </app-cards-list>
               </span>
            </div>
            <!-- <ul *ngIf="lessons" class="list-group list-group-flush">
                    <li *ngFor="let item of lessons" class="list-group-item list-group-item-action"
                    [ngClass]="{active: selectedLesson && item.id === selectedLesson.id}"
                    (click)="selectLesson(item)">
                        {{item.name}}
                    </li>
                </ul> -->
         </div>
      </div>
   </div>
</div>