.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame1 {
  flex: 1;
  @media (max-width: 400px) {
    display: none;
  }
  display: flex;
  height: 550px;
  margin: 10px 5px 10px 10px;
  > * {
    width: 200px;
  }
}
.frame2 {
  flex: 8;
  margin: 10px 5px 10px 10px;
  width: calc(90vw - 200px);
  height: 550px;
}
.card-body {
  padding: 10px;
  height: 72vh;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
}
.card-title {
  margin-top: 10px;
  position: relative;
  > * {
    text-align: center;
  }
}
.scroll-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  > * {
    margin: 0px 10px;
  }
}
.course-list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
}
.hide {
  display: none;
}
.input-group {
  flex-direction: column;
}
.custom-btn {
  width: 100%;
  // border: 1px rgba($color: #bbcbfd, $alpha: 1);
  text-align: right;
}
.submit-btn {
  background: #377de4;
  color: #FFFF;
}
.menu-relative {
  position: relative;
}
.menu-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
}
.dimmer-icon {
  opacity: 0;
}
.dimmer-hover:hover {
  .dimmer-icon {
    opacity: 0.9;
  }
}
.new-lesson {
  position: absolute;
  top: -3px;
}
.create-course {
  background: rgba(213, 213, 213, 0.507);
  padding: 5px;
  a {
    font-size: 14px;
  }
}