div#gridctr {
  max-height: 80vh;
  overflow-y: auto;
}
td:not(:first-child) {
  max-width: 200px;
  overflow: auto;
}
.invalid {
    background: antiquewhite;
}
.close-btn {
  position: absolute;
  right: 5px;
}