<div class="card float-option g-crystal-white g-hover-word">
  <div class="card-body">
    <div class="card-title">
      <a *ngIf="lesson">{{lesson.name}}</a>
      <a class="g-icon g-hover-word" (click)="openImport()">➕</a>
    </div>
    <div *ngIf="flashcards?.length" class="g-word"><a>Total: {{flashcards.length}}</a></div>
    <div *ngIf="flashcards?.length" class="card-text">
      <div *ngFor="let list of [flashcards]; index as i" class="list mb-2">
        <div class="text-center border-bottom">
          <!-- {{ inArchive.length && ? 'Archived '+archived.length : 'New words '+ inArchive.length}}</div> -->
          <div class="item" draggable="true" *ngFor="let item of list; index as i" (click)="selectWord = item"
            [ngClass]="{'select': selectWord == item,'g-shadow': selectWord == item, 'new': item.isNew}">
            <a class="text-bold pr-3">{{i+1}}</a>
            <a>{{item.word}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [class.archive]="!!list[0].archive" -->