<div class="container-fluid">
  <div class="sidebar" id="mySidebar">
    <button (click)="closeSidebar()" class="closebtn">
      <a style="font-size: 30px;">&times;</a>
    </button>
    <a (click)="tab.select('flashcard'); closeSidebar()">Flashcard</a>ž
    <a (click)="tab.select('desk'); closeSidebar()">Your desk</a>
    <!-- <a >Image regconize</a> -->
    <!-- <a >Quick look</a> -->
  </div>
  <div class="navbar">
    <button class="logo-btn" (click)="openSidebar()">
      <img src="../../assets/logo.png" alt="flashcha">
    </button>
    <div *ngIf="afAuth.user | async as user; else login" ngbDropdown class="user d-inline-block">
      <a ngbDropdownToggle type="button" id="dropdownBasic1">{{user.displayName}}</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Profile</button>
        <button ngbDropdownItem (click)=auth.logout()>Logout</button>
      </div>
    </div>
    <ng-template #login>
      <button class="btn btn-light" type="button" (click)="auth.login()">Login</button>
    </ng-template>
  </div>
  <div class="main">
    <!-- <div class="ad-vertical">Advertise</div> -->
    <ngb-tabset class="container" #tab="ngbTabset" justify="center" type="pills">
      <ngb-tab title="Your desk" id="desk">
        <ng-template ngbTabContent>
          <app-your-desk></app-your-desk>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Flashcard" id="flashcard">
        <ng-template ngbTabContent>
          <app-flashcard [data]=flashcard.data></app-flashcard>
        </ng-template>
      </ngb-tab>
      <!-- <ngb-tab title="Image regconize" id="image">
        <ng-template ngbTabContent>
          <p>This function will come soon!</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Quick look" id="quicklook">
        <ng-template ngbTabContent>
          <p>This function will come soon!</p>
        </ng-template>
      </ngb-tab> -->
    </ngb-tabset>
  </div>
</div>