.container-fluid {
  padding: 0px 0px;
}
.navbar {
  background: #364658;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.main {
  position: absolute;
  display: flex;
  top: 60px;
  width: 100%;
  > .main-content {
      flex:1;
      padding: 0px 10px;
  }
}
.ad-vertical {
  position: relative;
  top: 25px;
  width: 120px ;
  height: 600px ;
  background: #fedc9d ;
}
.logo-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  > img {
    width: 150px;
  }
}
.sidebar {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 0;
  left: 0;
  top: 0;
  background-color: #0d1f33;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #adb5bd;
  display: block;
  transition: 0.3s;
  &:hover {
    color: #f1f1f1;
  }
}
.sidebar .closebtn {
  background: #0d1f33;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 170px;
  > a {
    padding: 0px 20px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
div.user {
  > a {
    color: #adb5bd;
    font-size: 20px;
    &:hover {
      color: #f1f1f1;
    }
  }
}
::ng-deep.nav-pills * {
  color: #adb5bd;
  font-size: 16px;
  padding: 5px 5px;
  margin: 0px 5px;
  &:hover {
    color: #0d1f33;
  }
}
::ng-deep.nav-pills .nav-link.active {
  color: #0d1f33;
  border-bottom: 3px solid #0d1f33;
  border-radius: 0;
  background: none;
}
