<div class="frame g-word">
  <div *ngIf="expand" class="pt-2">
    <button class="btn" (click)="expand = false">
      <!-- <i class="g-icon g-hover-word fas fa-chevron-right"></i> -->
      <a class="g-icon g-hover-word">➡️</a>
    </button>
  </div>
  <div [ngbCollapse]='expand'>
    <div class="card g-hover-word">
      <div class="card-body">
        <div class="card-title">
          <a>耳から覚えるN1</a>
          <button class="btn" (click)="expand = true">
            <!-- <i class="g-icon g-hover-word fas fa-chevron-left"></i> -->
            <a class="g-icon g-hover-word">⬅️</a>
          </button>
        </div>
        <div class="g-word">Total: {{data.length}}</div>
        <div *ngIf="!isLoad" class="card-text">
          <div *ngFor="let list of [inArchive, archived]" class="list mb-2" [class.archive]="list[0].archive">
            <div class="text-center border-bottom">{{list[0].archive ? 'Archived '+archived.length : 'New words '+ inArchive.length}}</div>
            <div class="item" draggable="true" *ngFor="let item of list; index as i" (click)="selectWord = item"
              [ngClass]="{'select': selectWord == item,'g-shadow': selectWord == item}">
              <a class="text-bold pr-3">{{i+1}}</a>
              <a>{{item.kanji}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flashcard g-word">
    <ngb-progressbar class="process" type="success" [value]="processRatio()" [animated]="true"><i>{{findI()+1}}/{{inArchive.length}}</i></ngb-progressbar>
    <div class="flip-container" dragular="flashcard" >
      <div id="flip-card" class="flip-card" [class.flip]="flipped" (click)="flipped = !flipped">
        <div class="front main-word g-shadow" draggable="true">
          <a>{{selectWord.kanji}}</a>
        </div>
        <div class="back explain g-shadow">
          <div><a>{{selectWord.romaji}}</a></div>
          <div><a>{{fLetter(selectWord.meaning)}}</a></div>
          <div><a>青春は全力で生けないとはいけません</a></div>
        </div>
      </div>
    </div>
    <div class="tips g-word">
      <button class="g-shadow-btn" (click)="selectBack()"><i class="g-border-icon fas fa-arrow-left"></i><a>  Back</a></button>
      <button class="g-shadow-btn mr-2 ml-2" (click)="flipped = !flipped"><i class="g-border-icon">Space</i><a>  Flip</a></button>
      <button class="g-shadow-btn" (click)="selectNext()"><i class=" g-border-icon fas fa-arrow-right"></i><a>  Next</a></button>
    </div>
  </div>
</div>
<!-- <i class="fas fa-check-circle"></i>
<i class="fas fa-plus-circle"></i>
<i class="fas fa-file-excel"></i> -->