.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.card {
  flex: 1;
  max-width: 188px;
  min-width: 188px;
  height: 550px;
  > .card-body {
    padding: 5px;
    > .card-title {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      .fas {
        font-size: 15px;
      }
    }
    > .card-text {
      max-height: 450px;
      overflow-y: scroll;
      > .list {
        // background: #fef0db;
        border-radius: 5px;
        padding: 10px 0px;
        // &.archive {}
        .item {
          padding: 0px 10px;
          &.select {
            background: #0d1f339e !important;
            > a {
              color: whitesmoke !important;
            }
          }
          &:hover {
            cursor: pointer;
            background: #e4e3e3;
          }
        }
      }
    }
  }
}
::ng-deep.process {
  width: 50%;
  .bg-success {
    background-color: rgba($color: #51bcfa96, $alpha: 1.0) !important;
  }
}
.flashcard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * {
    margin: 10px 20px;
    text-align: center;
    border-radius: 10px;
  }
  .main-word {
    background: #f9f9f9;
    a {
      font-size: 30px !important;
    }
  }
  > .tips {
    height: 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .explain {
    min-height: 69px;
    font-size: 25px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    *:first-child a {
      font-size: 20px;
    }
    a { font-size: 15px;}
    * { padding: 10px;}
  }
}


.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  cursor: pointer;
  width: 320px;
  height: 320px;
}

.flip-card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  z-index: 20;
}

.flip-card > div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-card .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.flip-card.flip {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
