.card {
  flex: 1;
  max-width: 188px;
  min-width: 188px;
  height: 550px;
  > .card-body {
    padding: 5px;
    > .card-text {
      height: 500px;
      overflow-y: auto;
      > .list {
        background: #fef0db;
        border-radius: 5px;
        padding: 10px 0px;
        &.archive {
          background: #e1f8d4;
        }
        .item {
          padding: 0px 10px;
          &.select {
            background: #e4e3e3;
          }
          &:hover {
            cursor: pointer;
            background: #e4e3e3;
          }
        }
      }
    }
  }
}
.flashcard {
  flex: 10;
  > * {
    width: 814px;
    margin: 20px;
    text-align: center;
  }
  > .main-word {
    height: 241px;
    font-size: 100px;
    background: #f9f9f9;
    > .btn {
      height: 100%;
      width: 60px;
      border-radius: 0;
      background: #e0e0e0;
      opacity: 0.5;

      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
      &:hover > a {
        color: #ffa929;
      }
      > a {
        font-size: 36px;
        color: #c2c2c2;
      }
    }
  }
  > .explain {
    min-height: 69px;
    font-size: 26px;
    
    background: #e1f8d4;
    &.pronun > a {
      font-size: 40px;
    }
  }
}
