<div class="frame g-word">
  <div *ngIf="!expand" class="float-option">
    <button class="btn" (click)="expand = !expand">
      <i class="g-icon g-hover-word fas fa-chevron-right"></i>
      <!-- <a class="g-icon g-hover-word">➡️</a> -->
    </button>
  </div>
  <div [ngbCollapse]='!expand'>
    <div class="card float-option g-crystal-white g-hover-word">
      <div class="card-body" *ngIf="selectLesson">
        <div class="card-title">
          <a>{{selectLesson?.name}}</a>
          <button class="btn" (click)="expand = !expand">
            <i class="g-icon g-hover-word fas fa-chevron-left"></i>
            <!-- <a class="g-icon g-hover-word">⬅️</a> -->
          </button>
        </div>
        <div class="g-word">Total: {{flashcards?.length}}</div>
        <div *ngIf="inArchiveCards && archivedCards" class="card-text">
          <div *ngFor="let list of [inArchiveCards, archivedCards]; index as list_i" class="list mb-2" [class.archive]="list[0]?.archive">
            <div class="text-center border-bottom">{{list_i === 0 ? 'New words '+ inArchiveCards.length : 'Archived ' + archivedCards.length}}</div>
            <div class="item" draggable="true" *ngFor="let item of list; index as i" (click)="selectFlashcard = item"
              [ngClass]="{'select': selectFlashcard == item,'g-shadow': selectFlashcard == item}">
              <a class="text-bold pr-3">{{i+1}}</a>
              <a>{{item.word}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flashcard g-word">
    <div class="lesson-tree">
      <div ngbDropdown class="d-inline-block">
        <button id="dropdown1" class="btn" ngbDropdownToggle>{{selectCourse?.name }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <button ngbDropdownItem *ngFor="let course of courses" (click)="onSelectCourse(course)">{{course?.name}}</button>
        </div>
      </div>
      <i>/</i>
      <div ngbDropdown class="d-inline-block">
        <button id="dropdown2" class="btn" ngbDropdownToggle [disabled]="!lessons || !lessons.length">{{selectLesson?.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdown2">
          <button ngbDropdownItem *ngFor="let lesson of lessons" (click)="onSelectLesson(lesson)">{{lesson?.name}}</button>
        </div>
      </div>
    </div>
    <ngb-progressbar *ngIf="inArchiveCards && selectFlashcard" class="process" type="success" [value]="processRatio()" [animated]="true"><i>{{findI(selectFlashcard)+1}}/{{inArchiveCards.length}}</i></ngb-progressbar>
    <div class="flip-container" dragular="flashcard" >
      <div id="flip-card" *ngIf="selectFlashcard" class="flip-card" [class.flip]="flipped" (click)="flipped = !flipped">
        <div class="front g-crystal-white main-word g-shadow" draggable="true">
          <a>{{selectFlashcard.word}}</a>
        </div>
        <div class="back g-crystal-white explain g-shadow">
          <div><a>{{selectFlashcard.hiragana}}</a></div>
          <div><a>{{translations && translations[selectFlashcard.id] ? translations[selectFlashcard.id][0]?.meaning : ' '}}</a></div>
        </div>
      </div>
    </div>
    <div class="tips g-word">
      <button class="g-shadow-btn" (click)="selectBack()"><i class="g-border-icon fas fa-arrow-left"></i><a>  Back</a></button>
      <!-- <button class="g-shadow-btn mr-2 ml-2" (click)="flipped = !flipped"><i class="g-border-icon">Space</i><a>  Flip</a></button> -->
      <button class="g-shadow-btn" (click)="selectNext()"><i class=" g-border-icon fas fa-arrow-right"></i><a>  Next</a></button>
    </div>
  </div>
</div>
<!-- <i class="fas fa-check-circle"></i>
<i class="fas fa-plus-circle"></i>
<i class="fas fa-file-excel"></i> -->