/* You can add global styles to this file, and also import other style files */
.btn {
  border-radius: 25px;
}
.g-hover-word a {
  color: #4F4F4F;
  &:hover {
    cursor: pointer;
    color: rgb(194, 120, 24) !important;
  }
}
.g-word a {
  color: #4F4F4F !important;
}
