
/* You can add global styles to this file, and also import other style files */
.btn {
  border-radius: 25px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);
}
.g-btn {
  height: 100%;
  width: 60px;
  border-radius: 0;
  background: #e0e0e0;
  opacity: 0.5;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.8;
  }
  &:hover > * {
    color: #ffa929 !important;
  }
  > * {
    font-size: 30px;
    color: #c2c2c2;
  }
}
.g-shadow-btn { 
  opacity: 0.3;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  &:focus, &:active {
    outline: none !important;
  }
  &:hover, &:active {
    opacity: 0.8;
  }
  &:active {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
}
.g-hover-word a,
.g-hover-word i {
  color: #4f4f4f;
  &:hover {
    cursor: pointer;
    color: rgb(194, 120, 24) !important;
  }
}
.g-word a {
  color: #4f4f4f !important;
}
.g-icon {
  color: #4f4f4f !important;
  font-size: 20px;
}
.g-border-icon {
  border: 2px solid rgb(88, 88, 88) !important;
  border-radius: 5px !important;
  padding: 0px 5px !important;
}
.g-shadow {
  box-shadow: 0px 0px 20px #c7c7c7;
}
// DRAG DROP 
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.g-crystal-white {
  background: rgba($color: #ffffff, $alpha: 0.8) !important;
}
canvas {
  height: 100%;
  width: 100%;
  z-index: -1 !important;
}